/* ==========================================================================
   Utility: display (u-)
   表示/非表示の切り替え。1クラス1役割
   ========================================================================== */

.u-pc-only {
  display: none;
}

@media (min-width: 1024px) {
  .u-pc-only {
    display: revert;
  }

  .u-sp-only {
    display: none;
  }
}
